@import '../node_modules/foundation-sites/scss/foundation';
@include foundation-everything;

$space:2.5rem;

.page-title{
  margin-top: $space;
  margin-bottom: $space*2;
}

.alert-danger{
  color: red;
  background-color: #f2dede;
  border: 1px solid transparent;
  border-radius: 4px ;
}